/app/bootstrap.php.cache
/app/cache/*
/app/sessions/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters.ymlDEV
/app/config/parameters.ymlPBAS
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/nbproject/private/
/web/uploads/initial/
/web/uploads/updates/
/nbproject/
