.version.index /* version checker */
{
	color: #0000E1;
	background-color: #5078E7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 499.8999999999983px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -295px;
	width: 0.01px;
}

#ppu862
{
	width: 0.01px;
	margin-left: -100px;
}

#pu862
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 170px;
}

#u862
{
	z-index: 22;
	width: 203px;
	padding-bottom: 231px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 341px;
}

#u324
{
	z-index: 92;
	width: 174px;
	margin-right: -10000px;
	margin-top: 186px;
	left: 14px;
}

#u399-3
{
	z-index: 89;
	width: 1054px;
	min-height: 52px;
	margin-right: -10000px;
}

#u354
{
	z-index: 96;
	width: 119px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 895px;
}

#slideshowu561
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	padding-bottom: 675px;
	margin-right: -10000px;
}

#u568popup
{
	z-index: 3;
}

#u568
{
	width: 1224px;
	height: 675px;
}

#u784
{
	z-index: 4;
	width: 1224px;
	height: 675px;
	margin-right: -10000px;
}

#u754
{
	z-index: 6;
	width: 1224px;
	height: 675px;
	margin-right: -10000px;
}

#u845
{
	z-index: 8;
	width: 1224px;
	height: 675px;
	margin-right: -10000px;
}

#u563-4popup
{
	z-index: 10;
}

#u563-4
{
	width: 25px;
	min-height: 20px;
	padding: 15px;
	top: 331px;
	left: 0px;
}

#u585-4popup
{
	z-index: 14;
}

#u585-4
{
	width: 25px;
	min-height: 20px;
	padding: 15px;
	top: 330px;
	left: 1169px;
}

#u586-4popup
{
	z-index: 18;
}

#u586-4
{
	width: 81px;
	min-height: 20px;
	padding: 15px;
	top: 48px;
	left: 563px;
}

#u330
{
	z-index: 94;
	width: 153px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#u401
{
	z-index: 116;
	min-height: 84px;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #7D7D7E;
	padding-bottom: 1px;
}

#u951
{
	z-index: 150;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u402
{
	z-index: 117;
	width: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 870px;
}

#u402_img
{
	padding-bottom: 1px;
}

#u401-bw
{
	z-index: 116;
	min-height: 84px;
}

#u709-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-left: 143px;
	margin-top: 30px;
	position: relative;
}

#ppu854
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#pu854
{
	z-index: 29;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	margin-left: 541px;
}

#u854
{
	z-index: 0;
	width: 683px;
	background-color: #EF7D00;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu711-6
{
	width: 0.01px;
	position: relative;
	left: 88px;
	padding-top: 53px;
	z-index: 2;
	padding-bottom: 53px;
}

#u711-6
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u856
{
	z-index: 26;
	width: 1224px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#u640
{
	z-index: 28;
	height: 229px;
	background-color: #000000;
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
}

#u640-bw
{
	z-index: 28;
	height: 229px;
}

#u710-5
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 55px;
}

#u400-6
{
	z-index: 98;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 331px;
}

#u602
{
	z-index: 119;
	width: 110px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 615px;
	left: 112px;
}

#u604
{
	z-index: 121;
	width: 182px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 630px;
	left: 285px;
}

#u606
{
	z-index: 123;
	width: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 631px;
	left: 533px;
}

#u814
{
	z-index: 125;
	width: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 760px;
	left: 950px;
}

#u608
{
	z-index: 127;
	width: 138px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 630px;
	left: 781px;
}

#u610
{
	z-index: 129;
	width: 138px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 639px;
	left: 979px;
}

#u404
{
	z-index: 131;
	width: 184px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 55px;
}

#u404_img
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u703
{
	z-index: 133;
	width: 126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 1061px;
}

#u901
{
	z-index: 148;
	width: 92px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 741px;
	left: 809px;
}

#u901_img
{
	padding-right: 1px;
}

#ppu915
{
	width: 0.01px;
	margin-left: -45px;
	margin-top: 14px;
}

#pu915
{
	z-index: 23;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	margin-left: 267px;
}

#u915
{
	z-index: 0;
	width: 902px;
	background-color: #EF7D00;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu866
{
	width: 0.01px;
	position: relative;
	left: 19px;
	padding-top: 17px;
	z-index: 2;
	padding-bottom: 17px;
}

#u866
{
	z-index: 40;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u872-6
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 478px;
}

#u836-6
{
	z-index: 110;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 448px;
}

#u837-3
{
	z-index: 141;
	width: 38px;
	min-height: 2px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 248px;
}

#u887
{
	z-index: 146;
	width: 307px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#ppu942
{
	width: 0.01px;
	margin-left: -118px;
	margin-top: 3px;
}

#pu942
{
	z-index: 25;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	margin-left: 12px;
}

#u942
{
	z-index: 0;
	width: 964px;
	background-color: #F7323F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu899-6
{
	width: 0.01px;
	position: relative;
	left: 45px;
	padding-top: 44px;
	z-index: 2;
}

#u899-6
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u885-8
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 340px;
}

#u879
{
	z-index: 62;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 118px;
}

#u914
{
	z-index: 73;
	width: 947px;
	height: 211px;
	background-color: #C6CA0A;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u945
{
	z-index: 87;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 695px;
}

#u876
{
	z-index: 144;
	width: 341px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 901px;
}

#pu943
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 14px;
}

#u943
{
	z-index: 24;
	height: 247px;
	background-color: #FFD41F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u943-bw
{
	z-index: 24;
	height: 247px;
}

#u907-7
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 322px;
}

#u908
{
	z-index: 71;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 100px;
}

#pu799
{
	width: 0.01px;
	margin-left: -12px;
	margin-top: -1404px;
}

#u799
{
	z-index: 135;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u808
{
	z-index: 137;
	width: 191px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 203px;
}

#u823
{
	z-index: 139;
	width: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 434px;
}

#u835
{
	z-index: 39;
	height: 213px;
	background-color: #000000;
	opacity: 0.43;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=43)";
	filter: alpha(opacity=43);
}

#u835-bw
{
	z-index: 39;
	margin-top: -1284px;
	margin-bottom: -213px;
	height: 213px;
}

#u937
{
	z-index: 74;
	min-height: 223px;
	background-color: #000000;
	padding-bottom: 121px;
}

#u401_align_to_page,#u937_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u934
{
	z-index: 75;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 161px;
}

#u938-10
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 497px;
}

#u937-bw
{
	z-index: 74;
	min-height: 223px;
	margin-top: 13px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

