<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <h2>Uso de YDI APP y Política de Privacidad.</h2>
        <br><br>
        <b>Uso</b>
        <br><br>
        El con el uso de esta APP, el usuario conviene que:
        <br><br>
        Podrá recibir ofertas, promociones y comunicados de libre acceso así como los exclusivos de marcas y puntos de venta que se adecuen a las preferencias marcadas dentro la misma APP. Siendo este el objeto de la APP.
        <br>
        El uso de mapas y localizaciones se darán vía internet y la App ni la empresa se pueden hacer responsables por el acceso y cuenta de su servicio a Internet.
        <br>
        La localización se dará bajo el régimen de GPS, por lo que deberá estar habilitado y la APP solicitará poder habilitarlo, cualquier discrecionalidad al respecto es responsabilidad del usuario ante los resultados que muestre la APP.
        <br>
        Las ofertas y promociones serán únicamente de los negocios que los anuncien, ninguna responsabilidad directa de la APP ni de YDI.
        <br>
        Los usuarios no deberán pagar por el uso o distribución de la APP
        <br>
        El registro de los usuarios desde distintas fuentes siempre será validada por el usuario.
        <br>
        El usuario se hará acreedor de puntos canjeables de acuerdo a una tabla establecida por YDI y que podrá modificarse en cualquier momento. Los puntos se podrán verificar en la APP y se darán por uso adecuado de ofertas y promociones.
        <br>
        El usuario podrá incluir información de tarjetas que le provean de servicios y promociones exclusivas siempre y cuando YDI tenga acceso a dicha información.
        <br>
        <br>
        <b>Política de Privacidad</b>
        <br><br>
        Hemos dispuesto de esta Política de Privacidad para describir nuestra recopilación, uso y divulgación de información de los usuarios de utilizan nuestra aplicación de
        software a través de teléfonos celulares.
        <br><br>
        Cuando utiliza cualquiera de nuestros Servicios, usted consciente a la recopilación, uso, divulgación y otros usos de su información descritos a continuación.
        <br><br>
        Nuestra Política de Privacidad podría ser actualizada, y esto se verá reflejado en esta sección, tanto dentro de nuestra aplicación como dentro del portal servicios.
        <br><br>
        <u>Información que recopilamos</u>
        <br> <br>
        Información de registro.   Si abre una cuenta con nosotros, le pedimos que nos proporcione información personal tal como:<br>
        - su nombre,<br>
        - su Email<br>
        - su Código Postal<br>
        <br>
        Parte de esta información, tal como su nombre, será listada para conocimiento del establecimiento que le proporciona los productos o servicios.
        <br><br>
        El email que proporciona cuando usted instala la aplicación, constituyen su identificación única que está asociada a esa instalación de software; así mismo, recopilamos un ID único de su dispositivo que servirá para hacerle llegar la información del aplicativo de manera oportuna.
        <br><br>
        <u>Información de Utilización.</u>
        <br><br>
        Nosotros también recopilamos información acerca de cuando utiliza nuestros servicios así como la configuración particular que tiene, sonido, usos de cupón, fechas en que usa las promociones, entre otros).
        <br><br>
        Encuestas y Promociones.  De vez en cuando, podríamos proporcionarle la oportunidad de participar en encuestas, concursos o sorteos a través de nuestros servicios. Si usted participa, podríamos solicitarle información adicional sobre usted.
        <br><br>
        <u>Cómo Utilizamos la Información que Recopilamos</u>
        <br><br>
        La información que recopilamos, incluyendo la información de registro, su nombre, su email,  y su ID único de dispositivo e información de encuestas y promociones se utiliza para proporcionar y mejorar nuestros servicios, desarrollar nuevas ofertas, mejorar y personalizar su experiencia en YDI, incluyendo los contenidos y anuncios que usted ve.
        <br><br>
        Podríamos utilizar la Información de Registro para enviarle mensajes importantes acerca de los servicios, así como materiales de marketing que pensamos que podrían ser de su interés. Si decide en cualquier momento que no desea recibir más mas comunicaciones comerciales de nosotros, por favor, siga las instrucciones de baja listadas en esta sección bajo el termino &quot;Solicitud de Anulación de comunicación comercial&quot;
        <br><br>
        <u>Divulgación de la Información que Recopilamos</u>
        <br><br>
        YDI tiene el compromiso de no divulgar ninguna de su información de registro,  nombre, email y ID único de dispositivo bajo ninguna circunstancia a proveedores de servicios o terceros que no sean los establecimientos que integran YDI y que le proporciona la venta de productos motivo del uso de esta aplicación.
        <br><br>
        Si fuera necesario, en algún caso no contemplado por el presente, podríamos divulgar información que recopilamos con terceras partes solamente con el consentimiento expreso de ud. para hacerlo. Cualquier información que sea divulgada de tal forma no incluirá información personal.
        <br><br>
        Proveedores de Servicios. Cuando empleemos terceras empresas para ayudarnos a proporcionar y mejorar nuestros servicios (por ejemplo, servicios de mantenimiento, gestión de base de datos y analítica web, entre otros), si estos terceros reciben información personal, privada, acerca de usted, están obligados a no divulgar o utilizar dicha información para ningún otro propósito diferente al de realizar tareas en nuestro nombre.
        <br><br>
        Cumplimiento de las Leyes y su Aplicación. YDI siempre cooperará con cualquier autoridad de México, Distrito Federal y la Republica Mexicana para hacer cumplir cualquier ley relativa a políticas de privacidad. Divulgaremos su información a agencias gubernamentales, agentes del orden público o particulares, en caso de que, bajo nuestro único criterio, creamos necesario o apropiado responder a las solicitudes y procedimientos legales, para proteger la propiedad y los derechos de YDI y en caso de considerar que esto ayude a evitar riesgo de ilegalidad, inmoralidad o causa legalmente procesable.
        <br><br>
        Transferencias Empresariales. YDI puede vender, transferir o compartir algunos o todos sus activos, incluyendo la información identificada en esta Política de Privacidad, en relación con una fusión, adquisición, reorganización o venta de activos o en caso de quiebra.
        <br><br>
        <u>Modificar o Eliminar su Cuenta</u>
        <br><br>
        Usted puede enviarnos un correo electrónico a YDI con una petición de borrado de su cuenta. Las cuentas son dadas de baja con rapidez y, excepto circunstancias excepcionales, cumpliremos su petición y borraremos su información de cuenta en no más de 45 días. Nos reservamos el derecho de conservar una copia de archivo de su expediente como lo requiere la ley o según sea necesario para la protección de los derechos de YDI o algunos de los establecimientos que le brinda los productos motivo de esta aplicación.
        <br><br>
        Para instrucciones acerca de cambiar cualquiera de sus preferencias de privacidad, acceder o actualizar su información, cualquier pregunta relacionada con privacidad
        o protección de datos, por favor, escriba a <a href="mailto:ydi@gmail.com" target="_blank">ydi@gmail.com</a>.
        <br><br>
        <u>Seguridad de la Información</u>
        <br><br>
        YDI emplea razonables medidas de seguridad físicas, tecnológicas y administrativas para proteger la información que recopila. No obstante, ningún método de transmisión por internet o método de almacenamiento electrónico es cien por cien seguro. Por tanto, aunque nos esforzamos por utilizar medios aceptables para proteger la información que recopilamos, no podemos garantizar su seguridad absoluta.
        <br><br>
        Si tenemos conocimiento de cualquier violación de seguridad que dé lugar a la divulgación no autorizada de su Información de Registro, podemos intentar notificárselo electrónicamente al email de su registro, de manera que usted pueda tomar las medidas de protección adecuadas.
        <br><br>
        <u>Suplantación de Identidad (Phishing)</u>
        <br><br>
        La suplantación de identidad en línea y la práctica conocida como “phishing”, son asuntos de gran preocupación. Por tanto, es nuestra prioridad afianzar su información para ayudar a protegerlo contra el robo de identidad. En ningún momento, solicitamos ni solicitáremos información referente a su tarjeta de crédito, nombre de cuenta, banco, dirección de domicilio, ni nada parecido por ningún medio, ya sea correo electrónico o por teléfono.
        <br><br>
        <u>Solicitud de Anulación de comunicación comercial</u>
        <br><br>
        YDI esta comprometido en contar con la mejor experiencia en el uso de su aplicación por lo que siempre existe y existirá un balance entre la información que recibe de los establecimientos del Mercado Virtual y algunos anuncios de índole comercial que le pueden interesar de tal forma que no generen en ud. experiencias negativas.
        <br><br>
        Si aún con este balance, garantizado por YDI, ud. no desea recibir ninguna información comercial, deberá de llenar el formulario que encontrará en nuestro portal de servicios y llenarlo, enviando una imagen que incluya su firma autógrafa a la dirección de email: <a href="mailto:ydi@gmail.com" target="_blank">ydi@gmail.com</a>. En un plazo no mayor a 72 hrs. este será atendido.
        <br><br>
        <u>Contacte con Nosotros</u>
        <br><br>
        Si usted tiene alguna pregunta sobre esta Política de Privacidad, por favor póngase en contacto con nosotros por correo electrónico a <a href="mailto:ydi@gmail.com" target="_blank">ydi@gmail.com</a>.
        <br><br></body>
</html>
