{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }

      .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin .checkbox {
        font-weight: normal;
      }
      .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
{% endblock %}    

{% block body %}
    <div class="container">
        {% if error %}
            <div class="label label-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{ path('backend_login_check') }}" method="post" class="form-signin">
            <h2 class="form-signin-heading text-center">Login</h2>
            <label for="username" class="sr-only">Usuario:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control" placeholder="Ingresar usuario" required autofocus/>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="_password"  class="form-control" placeholder="Password" required/>

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div> <!-- /container -->

{% endblock %}
